.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
#about{
    height: 100%;
    width: 100%;
}
#pic{
    flex-direction: column;
    align-items: center;
}
.about_container{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about_container .profile{
    width: 500px;
    height: 300px;
}
#intro{
    width: 100%;
    height: 100%;
}

#intro .intro_heading{
    text-align: center;
    padding: 10px;
}
#intro .intro_p{
    padding: 20px;
}

.input{
    width: 60%;
}
#msg{
    width: 55%;
}
#send{
    width: 20%;
}